<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static',filename='js/carrito.js')}}"></script>
</head>
<body>
    <header>
        <!-- Encabezado de la página: logo, barra de navegación, etc. -->
        <nav>
            <ul>
               
       
        <li> <a href="/carrito">Carrito</a></li>
        <li> <a href="/logout">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
<div class="container">
    <h1>Bienvenido, {{session['usuario']}} </h1>
    <p>¡Has iniciado sesión correctamente!</p>
    <h1>Canciones</h1>
    <table>
        <thead>
            <tr>
                <th>Portada</th>
                <th>Título</th>
                <th>Artista</th>
                <th>Género</th>
                <th>Precio</th>
                <th>Duración</th>
                <th>Año de Lanzamiento</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
           <!-- {% for cancion in canciones %}
            <tr>
                <td><img src="data:image/jpeg;base64,{{ cancion.img }}" alt="Portada de la canción"></td>
                <td>{{ cancion[1] }}</td>
                <td>{{ cancion[2] }}</td>
                <td>{{ cancion[3] }}</td>
                <td>{{ cancion[4] }}</td>
                <td>{{ cancion[5] }}</td>
                <td>{{ cancion[6] }}</td>
            </tr>
            {% endfor %}-->
           <!-- <img src="data:image/jpeg;base64,{{ imagen }}" alt="{{ nombre }}">-->
            {% for cancion in canciones %}
            <tr>
                
                <td><img src="data:image/jpeg;base64,{{ cancion.imagen }}" alt="no sale imagen" width="100"></td>
                <td>{{ cancion.titulo }}</td>
                <td>{{ cancion.artista }}</td>
                <td>{{ cancion.genero }}</td>
                <td>{{ cancion.precio }}</td>
                <td>{{ cancion.duracion }}</td>
                <td>{{ cancion.lanzamiento }}</td>
                <td>
                    <button class="add-to-cart" data-id="{{ cancion.idcancion }}"
                                               data-titulo="{{ cancion.titulo }}"
                                               data-precio="{{ cancion.precio }}">Agregar al carrito</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>