<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
</head>
    <!--<script src="{{ url_for('static',filename='js/carrito.js')}}"></script>-->
</head>
<body>
    <header>
        <!-- Encabezado de la página: logo, barra de navegación, etc. -->
        <nav>
            <ul>
                <li><a href="/canciones">Inicio</a></li>
       
        <li> <a href="/">Realizar compra</a></li>
        <li> <a href="/logout">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container mt-5">
        <h1 class="mb-4">Carrito de Compras</h1>
        <div id="container" class="row">
            {% for item in carro %}
            <div class="cart-item col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.titulo }}</h5>
                        <p class="card-text">Precio: ${{ item.precio }}</p>
                        <a href="" class="btn btn-danger">Eliminar</a> <!-- song_id -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <h3>Total: ${{ total }}</h3>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

   