<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h1>Editar Personas</h1>
    <form method="POST" actio="">
        <label for="id">Codigo:</label>
        <input type="text" id="id" name="idper" value="{{ personas[0] }}" disabled><br>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombreper" value="{{ personas[1] }}" required><br>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellidoper" value="{{ personas[2] }}" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="emailper" value="{{ personas[3] }}" required><br>
        <label for="direccion">Direccion:</label>
        <input type="text" id="direccion" name="direccionper" value="{{ personas[4] }}" required><br>
        <label for="telefono">Telefono:</label>
        <input type="number" id="telefono" name="telefonoper" value="{{ personas[5] }}" required><br>
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuarioper" value="{{ personas[6] }}" required><br>
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasenaper" value="{{ personas[7] }}" required><br>
        <input type="submit" value="Guardar Cambios">
    </form>
</body>    